#root {
  margin: 0;
  text-align: center;
  min-height: 100vh;
}
.app {
  min-height: 100vh;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* === Start one page project === */
/* Start navbar */
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222a;
  padding: 30px 0;
}
.navbar-header.light {
  background-color: #ffffff;
}
.navbar-header > p {
  color: #f5f5f5;
  margin: 0 20px;
  font-size: 16px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 8px;
}
.navbar-header > p.light {
  color: #2b283a;
  border: 1px solid black;
}
.navbar-header > div {
  display: flex;
  align-items: center;
}
.navbar-header > div > img {
  margin: 0 20px;
  width: 55px;
}
.navbar-header > div > h1 {
  color: #61dafb;
  font-size: 22.25px;
}
.switch-button {
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-right: 30px;
}
.switch-button label {
  width: 45px;
  height: 18px;
  background-color: #f5f5f5;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: 0.6s;
}
.switch-button label.light {
  background-color: #2b283a;
}
.switch-button .circle {
  width: 15px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  right: 3%;
  transition: all 0.6s ease;
}
.switch-button .circle.light {
  background-color: #ffffff;
  left: 3%;
  transition: all 0.6s ease;
}
.navbar-header .light-span {
  color: #918e9b;
}
.navbar-header .dark-span {
  color: #ffffff;
}
.navbar-header .light-span.light {
  color: #2b283a;
}
.navbar-header .dark-span.light {
  color: #d5d4d8;
}
/* End navbar */
/* Start Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #282d35;
  height: 100vh;
  padding: 30px 20px;
  /* background-image: url(./assets/reactjs-icon\ 2.png);
  background-repeat: no-repeat;
  background-position: right 75%; */
}
.main-content.light {
  background-color: #ffffff;
}
.main-content h1 {
  text-align: start;
  font-size: 39.06px;
  color: #ffffff;
}
.main-content.light h1 {
  color: #2b283a;
}
.main-content > ul {
  list-style: none;
  text-align: start;
  color: #ffffff;
}
.main-content.light > ul {
  color: #2b283a;
}
.main-content > ul > li {
  margin-bottom: 15px;
  font-size: 16px;
}
.main-content.light > ul > li {
  color: #2b283a;
}
.main-content > ul > li::before {
  content: "";
  background-color: #61dafb;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 25px;
  border-radius: 50%;
  margin-top: 8px;
}
/* End Main Content */
/* === End one page project === */
